
<div class="hero-unit">

	<h1>Welcome to One Month Rails</h1>
	<p>
		You have fount the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>

	</p>

	     <%= link_to "Sign up Now", "#", class: "btn btn-primary btn-large" %>

</div>
   